*
{
    margin: 0;
    padding: 0;    
}


html
{
    background-color: gray;
}

body
	@@ -19,11 +17,34 @@ body
h1
{
    color: cyan;
}

.titles
{
    color: blue;
}

.name
{
    color: purple;
}

p
{
    text-transform: uppercase;
}

#my-photo
{

}

.links
{

}

.container
{

}